.jumbotron {
	background-color: gray;
	color: black;
}
.footer {
	padding: 10px 10px 0 10px;
	background-color: yellow;
	margin-bottom: 0px;
	margin-top: 10px;
}

.card-hotel{
	flex: 1 150px;
	padding: 2px 5px 2px 5px;
	margin-top: 5px;
}

.btn-reserva{
	width: 100%;
}